
.container {
    background-color: white;
    min-width: 50vw;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
}

.div1 {
    display: flex;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    margin: 0;
    font-weight: 900;
}

.price {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
}

.image {
    width: 100px;
    height: 100px;
}

.div2 {
    display: flex;
    align-items: end;
}

.amount {
    margin: 0;
    font-size: 36px;
}